@keyframes Animation1 {
  0%,
  100% {
    transform: translateZ(0) translateY(0);
  }
  50% {
    transform: translateZ(0) translateY(-11px);
  }
}

@keyframes Animation21 {
  0%,
  100% {
    transform: translateZ(0) translate(0, 0);
  }
  50% {
    transform: translateZ(0) translate(-4px, 4px);
  }
}

@keyframes Animation22 {
  0%,
  100% {
    transform: translateZ(0) translate(0, 0);
  }
  50% {
    transform: translateZ(0) translate(7px, -3px);
  }
}

@keyframes Animation31 {
  0%,
  100% {
    transform: translateZ(0) rotate(0);
  }
  50% {
    transform: translateZ(0) rotate(-7deg);
  }
}

@keyframes Animation32 {
  0%,
  100% {
    transform: translateZ(0) translateZ(0) rotate(0);
  }
  50% {
    transform: translateZ(0) translateZ(0) rotate(-15deg);
    left: 336px;
    top: 264px;
  }
}

@keyframes Animation33 {
  0%,
  100% {
    transform: translateZ(0) translateZ(0) rotate(0);
  }
  50% {
    transform: translateZ(0) translateZ(0) rotate(-10deg);
    left: 287px;
    top: 261px;
  }
}

@keyframes Animation34 {
  0%,
  100% {
    transform: translateZ(0) translateZ(0) rotate(0);
  }
  50% {
    transform: translateZ(0) translateZ(0) rotate(-10deg);
    left: 362px;
    top: 295px;
  }
}

@keyframes Animation41 {
  0%,
  100% {
    transform: translateZ(0) rotate(3deg);
  }
  50% {
    transform: translateZ(0) rotate(-3deg);
  }
}

@keyframes Animation42 {
  0%,
  100% {
    transform: translateZ(0) translateY(0);
  }
  50% {
    transform: translateZ(0) translateY(-11px);
  }
}

@keyframes Animation51 {
  0%,
  100% {
    transform: translateZ(0) translateY(0);
  }
  50% {
    transform: translateZ(0) translateY(4px);
  }
}

@keyframes Animation52 {
  0%,
  100% {
    transform: translateZ(0) translateY(0);
  }
  50% {
    transform: translateZ(0) translateY(20px);
  }
}

@keyframes Animation53 {
  0%,
  100% {
    transform: translateZ(0) translateY(0);
  }
  50% {
    transform: translateZ(0) translateY(5px);
  }
}

@keyframes Animation61 {
  0%,
  100% {
    transform: translateZ(0) rotate(8deg);
  }
  50% {
    transform: translateZ(0) rotate(-3deg);
  }
}

@keyframes Animation62 {
  0%,
  100% {
    transform: translateZ(0) rotate(-7deg);
  }
  50% {
    transform: translateZ(0) rotate(-1deg);
  }
}

@keyframes Animation63 {
  0%,
  100% {
    transform: translateZ(0) translateY(0);
  }
  50% {
    transform: translateZ(0) translateY(-5px);
  }
}

@keyframes Animation64 {
  0%,
  100% {
    transform: translateZ(0) translateY(0);
  }
  50% {
    transform: translateZ(0) translateY(-3px);
  }
}

@keyframes Animation65 {
  0%,
  100% {
    transform: translateZ(0) translateY(0);
  }
  50% {
    transform: translateZ(0) translateY(-2.98px);
  }
}

@keyframes Animation66 {
  0%,
  100% {
    transform: translateZ(0) translateY(0);
  }
  50% {
    transform: translateZ(0) translateY(-6px);
  }
}

@keyframes Animation72 {
  0%,
  100% {
    transform: translateZ(0) translate(0, 0);
  }
  50% {
    transform: translateZ(0) translate(15px, -13px);
  }
}

@keyframes Animation82 {
  0%,
  100% {
    transform: translateZ(0) translateY(0);
  }
  50% {
    transform: translateZ(0) translateY(-12px);
  }
}

@keyframes Animation92 {
  0%,
  100% {
    transform: translateZ(0) translateY(0);
  }
  50% {
    transform: translateZ(0) translateY(-10px);
  }
}

@keyframes Animation102 {
  0%,
  100% {
    transform: translateZ(0) translate(0, 0);
  }
  50% {
    transform: translateZ(0) translate(-8px, -11px);
  }
}

@keyframes Animation111 {
  0%,
  100% {
    transform: translateZ(0) rotate(6deg);
  }
  50% {
    transform: translateZ(0) rotate(-6deg);
  }
}

@keyframes Animation112 {
  0%,
  100% {
    transform: translateZ(0) translate(0, 0);
  }
  50% {
    transform: translateZ(0) translate(8px, -10px);
  }
}

@keyframes Animation122 {
  0%,
  100% {
    transform: translateZ(0) translateY(0);
  }
  50% {
    transform: translateZ(0) translateY(-10px);
  }
}

.question1_img1 {
  position: absolute;
  width: 25%;
  height: 39.6%;
  left: 50.4%;
  top: 20.4%;
}

.question1_img2 {
  position: absolute;
  width: 21.2%;
  height: 13.7%;
  left: 22.1%;
  top: 20.5%;
  animation: Animation1 650ms infinite;
}

.question2_img1 {
  position: absolute;
  width: 37%;
  height: 38.6%;
  left: 27.1%;
  top: 24.5%;
  animation: Animation21 650ms infinite;
}
.question2_img2 {
  position: absolute;
  width: 13%;
  height: 12.6%;
  left: 62.1%;
  top: 17.5%;
  animation: Animation22 650ms infinite;
}
.question3_img1 {
  position: absolute;
  width: 46%;
  height: 26.6%;
  left: 26.1%;
  top: 34.5%;
  animation: Animation31 650ms infinite;
}
.question3_img2 {
  position: absolute;
  width: 4%;
  height: 4%;
  left: 75.1%;
  top: 17.5%;
}
.question3_img3 {
  position: absolute;
  width: 4%;
  height: 4%;
  left: 61.1%;
  top: 24.5%;
}
.question3_img4 {
  position: absolute;
  width: 4%;
  height: 4%;
  left: 78.1%;
  top: 33.5%;
}
.question4_img1 {
  position: absolute;
  width: 25%;
  height: 32.6%;
  left: 31.1%;
  top: 27.5%;
  animation: Animation41 650ms infinite;
}
.question4_img2 {
  position: absolute;
  width: 28%;
  height: 14.6%;
  left: 57.1%;
  top: 16.5%;
  animation: Animation42 650ms infinite;
}
.question5_img1 {
  position: absolute;
  width: 27%;
  height: 22.6%;
  left: 27.1%;
  top: 15.5%;
  animation: Animation51 650ms infinite;
}
.question5_img2 {
  position: absolute;
  width: 27%;
  height: 22.6%;
  left: 49.1%;
  top: 23.5%;
  animation: Animation52 650ms infinite;
}
.question5_img3 {
  position: absolute;
  width: 27%;
  height: 22.6%;
  left: 31.1%;
  top: 40.5%;
  animation: Animation53 650ms infinite;
}
.question6_img1 {
  position: absolute;
  width: 27%;
  height: 22.6%;
  left: 20.1%;
  top: 21.5%;
  animation: Animation61 650ms infinite;
}
.question6_img2 {
  position: absolute;
  width: 27%;
  height: 22.6%;
  left: 54.1%;
  top: 36.5%;
  animation: Animation62 650ms infinite;
}
.question6_img3 {
  position: absolute;
  width: 4%;
  height: 4%;
  left: 10.1%;
  top: 36.5%;
  animation: Animation63 650ms infinite;
}
.question6_img4 {
  position: absolute;
  width: 4%;
  height: 4%;
  left: 26.1%;
  top: 54.5%;
  animation: Animation64 650ms infinite;
}
.question6_img5 {
  position: absolute;
  width: 4%;
  height: 4%;
  left: 69.1%;
  top: 30.5%;
  animation: Animation65 650ms infinite;
}
.question6_img6 {
  position: absolute;
  width: 4%;
  height: 4%;
  left: 78.1%;
  top: 25.5%;
  animation: Animation66 650ms infinite;
}
.question7_img1 {
  position: absolute;
  width: 28%;
  height: 34%;
  left: 35.1%;
  top: 21.5%;
}
.question7_img2 {
  position: absolute;
  width: 26%;
  height: 26%;
  left: 51.1%;
  top: 26.5%;
  animation: Animation72 650ms infinite;
}
.question8_img1 {
  position: absolute;
  width: 74%;
  height: 34%;
  left: 11.1%;
  top: 26.5%;
}
.question8_img2 {
  position: absolute;
  width: 26%;
  height: 26%;
  left: 51.1%;
  top: 26.5%;
  animation: Animation82 650ms infinite;
}
.question9_img1 {
  position: absolute;
  width: 42%;
  height: 33%;
  left: 40.1%;
  top: 25.5%;
}
.question9_img2 {
  position: absolute;
  width: 22%;
  height: 17%;
  left: 15.1%;
  top: 19.5%;
  animation: Animation92 650ms infinite;
}
.question10_img1 {
  position: absolute;
  width: 42%;
  height: 33%;
  left: 40.1%;
  top: 25.5%;
}
.question10_img2 {
  position: absolute;
  width: 22%;
  height: 17%;
  left: 15.1%;
  top: 19.5%;
  animation: Animation102 650ms infinite;
}
.question11_img1 {
  position: absolute;
  width: 29%;
  height: 39%;
  left: 35.1%;
  top: 19.5%;
  animation: Animation111 650ms infinite;
}
.question11_img2 {
  position: absolute;
  width: 17%;
  height: 10%;
  left: 61.1%;
  top: 14.5%;
  animation: Animation112 650ms infinite;
}
.question12_img1 {
  position: absolute;
  width: 31%;
  height: 33%;
  left: 26.1%;
  top: 23.5%;
}
.question12_img2 {
  position: absolute;
  width: 17%;
  height: 10%;
  left: 61.1%;
  top: 14.5%;
  animation: Animation122 650ms infinite;
}
