.modal-back{
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top:0; left: 0; bottom: 0; right: 0;
  z-index: 9999;
}
.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.modal-content {
  width: 467px;
  height: 821px;
}
.modal_title{
  position: absolute;
  width: 290px;
  height: 41px;
  top: 90px;
  left: calc(50% - 290px/2);

  font-weight: 400;
  font-size: 41px;
  text-align: center;
  line-height: 41px;
  color: #000000;
}
.modal_tooltip{
  position: absolute;
  width: 227px;
  height: 55px;
  left: 230px;
  top: 45px;  
}
.modal_img{
  position: absolute;
  width: 400px;
  height: 281px;
  left: calc(50% - 400px/2 + 0.5px);
  top: 155px;
  overflow:hidden;
}
.modal_img img{
  width:100%;
  height:100%;
  object-fit:cover;
}
.modal_close{
  position: absolute;
  width: 33px;
  height: 33px;
  left: 407px;
  top: 21px;
}

.modal.open {
  opacity: 1;
}

.modal.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-close {
  margin-top: 10px;
  opacity: 1;
}

.modal_hash{
  position: absolute;
  width: 326px;
  height: 46px;
  left: calc(50% - 326px/2);
  top: 464px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.modal-line{
  position: absolute;
  width: 410px;
  height: 0px;
  left: calc(50% - 410px/2);
  top: 525px;

  border: 1px solid #FF448D;
  }

  .modal-result{
    position: absolute;
    width: 397px;
    height: 217px;
    left: calc(50% - 397px/2 + 0.5px);
    top: 558px;
    margin-left: 16px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
  }

 .tooltip{
  position: absolute;
  width: 194px;
  height: 20px;
  left: 267px;
  top: 153px;
  
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  text-align: right;
  
  color: #565656;
  
  }